{% extends "layout.html" %}
{% import "macros.html" as macros %}
{% block styles %}
    {{ super() }}
{% endblock %}
{% block body %}
    <div>
        <form class="elements-visibility-form form-inline" action="">
            <label>Группы
                <input type="checkbox" name="chk-groups">
            </label>
            <label>Институты
                <input type="checkbox" name="chk-faculty">
            </label>
            <label>Преподаватели
                <input type="checkbox" name="chk-teacher">
            </label>
        </form>
    </div>
    <table class="schedule">
        <tbody>
        {% for para, days in schedule.items() %}
            <tr>
                <td>{{ para|parainfo }}</td>
                {% for day, weeks in days.items() %}
                    {% if para == 0 and day != 0 %}
                        <th>{{ day|dayofweek }}</th>
                    {% else %}
                        <td>
                            {% set lessons_every = weeks['everyweek'] %}
                            {% set lessons_odd = weeks['odd'] %}
                            {% set lessons_even = weeks['even'] %}
                            {% if lessons_odd or lessons_even  %}
                                {% set lessons_odd = lessons_odd + lessons_every %}
                                {% set lessons_even = lessons_even + lessons_every %}
                                <div class="cell-back odd {% if not lessons_odd %}empty{% endif %}"></div>
                                <div class="cell-back even {% if not lessons_even %}empty{% endif %}"></div>
                                <div class="lesson odd {% if not lessons_odd %}empty{% endif %}">
                                    {{ macros.lesson_tags(lessons_odd, group, show_groups) }}
                                </div>
                                <div class="lesson even {% if not lessons_even %}empty{% endif %}">
                                    {{ macros.lesson_tags(lessons_even, group, show_groups) }}
                                </div>
                            {% elif lessons_every %}
                               <div class="lesson everyweek">
                                    {{ macros.lesson_tags(lessons_every, group, show_groups) }}
                                </div>
                            {% endif %}
                        </td>
                    {% endif %}
                {% endfor %}
                <p>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
