{% extends "layout.html" %}
{% import "macros.html" as macros %}
{% block styles %}
    {{ super() }}
{% endblock %}
{% block body %}
    <table class="schedule">
        <tbody>
        {% for para, days in schedule.items() %}
            <tr>
                <td>{{ para|parainfo }}</td>
                {% for day, weeks in days.items() %}
                    {% if para == 0 and day != 0 %}
                        <th>{{ day|dayofweek }}</th>
                    {% else %}
                        <td>
                            {% set lessons_every = weeks['everyweek'] %}
                            {% set lessons_odd = weeks['odd'] %}
                            {% set lessons_even = weeks['even'] %}
                            {% if lessons_every %}
                                <div class="lesson everyweek">
                                    {{ macros.lesson_tags(lessons_every) }}
                                </div>
                            {% elif lessons_odd or lessons_even %}
                                <table class="lesson-table">
                                    <tr>
                                        <td>
                                            <div class="lesson odd {% if not lessons_odd %}empty{% endif %}">
                                                {{ macros.lesson_tags(lessons_odd) }}
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="lesson even {% if not lessons_even %}empty{% endif %}">
                                                {{ macros.lesson_tags(lessons_even) }}
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            {% endif %}
                        </td>
                    {% endif %}
                {% endfor %}
                <p>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
