<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% block styles %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/select2.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    {% endblock %}
</head>
<body>
<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Расписание</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <form class="navbar-form navbar-left" method="post" action="{{ url_for("group_schedule_redirect") }}">
                    <div class="form-group">
                        <label for="kontgrp">Г:</label>
                        <select class="form-control" name="kontgrp"></select>
                    </div>
                </form>
                <form class="navbar-form navbar-left" method="post"
                      action="{{ url_for("auditory_schedule_redirect") }}">
                    <div class="form-group">
                        <label for="auditory">А:</label>
                        <select class="form-control" name="auditory"></select>
                    </div>
                </form>
                <form class="navbar-form navbar-left" method="post"
                      action="{{ url_for("teacher_schedule_redirect") }}">
                    <div class="form-group">
                        <label for="teacher">П:</label>
                        <select class="form-control" name="teacher"></select>
                    </div>
                </form>
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                            Отчеты <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Расписание физкультуры</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="content" style="margin-bottom: 50px">
        {% block body %}
        {% endblock %}
    </div>
</div>

{% block scripts %}
    <script src="{{ url_for('static', filename='js/3rdparty/jquery-3.1.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/3rdparty/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/3rdparty/select2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/3rdparty/vue.js') }}"></script>

    <script>
        var data_groups = JSON.parse('{{ groups_json|safe }}');
        var auditory_groups = JSON.parse('{{ auditories_json|safe }}');
        var teacher_groups = JSON.parse('{{ teacher_json|safe }}');

        var kontgrp = $('select[name="kontgrp"]').select2({
            data: data_groups,
            minimumInputLength: 2
        });
        var auditory = $('select[name="auditory"]').select2({
            data: auditory_groups,
            minimumInputLength: 2
        });
        var teacher = $('select[name="teacher"]').select2({
            data: teacher_groups,
            minimumInputLength: 2
        });

        {% if group is defined %}
            kontgrp.val('{{ group.id }}').change();
        {% endif %}
        {% if auditory is defined %}
            auditory.val('{{ auditory.id }}').change();
        {% endif %}
        {% if teacher is defined %}
            teacher.val('{{ teacher.id }}').change();
        {% endif %}

        $('select').change(function () {
            this.form.submit();
        });
    </script>
    <script src="{{ url_for('static', filename='js/3rdparty/lodash.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/3rdparty/backbone-min.js') }}"></script>
{% endblock %}
</body>
</html>