{% macro lesson_tags_inner(lesson, group, show_groups, show_kurs, show_discipline) %}
    <div class="lesson-info {{ lesson.raspnagr.nt|lesson_type_class }}">
    {% if show_discipline %}
        <div class="discipline">
            <a href="{{ url_for("discipline_schedule", discipline_id=lesson.raspnagr.discipline.id) }}">
                {{ lesson.raspnagr.discipline.title }}
            </a>
        </div>
    {% endif %}
        {% if lesson.raspnagr.teacher %}
            <span class="teacher">
                <a href="{{ url_for("teacher_schedule", teacher_id=lesson.raspnagr.teacher.id) }}">
                    {{ lesson.raspnagr.teacher.name }}
                </a>
            </span>
        {% endif %}
        <span class="auditory">
            <a href="{{ url_for("auditory_schedule", auditory_id=lesson.auditory.id) }}">
                {{ lesson.auditory.title }}
            </a>
        </span>
        {% if group is undefined %}
            <div class="fac">
            {% if not show_discipline %} <b>{% endif %}
                <span>{{ lesson.faculty.title }}</span>
            {% if not show_discipline %} </b>{% endif %}
            </div>
        {% endif %}
    {% if show_kurs %}
        <div class="groups">
            <i>Курсы:
            {% for k in lesson.kurs_list %}
                <a>{{ k }}</a>
            {% endfor %}
            </i>
        </div>
    {% endif %}
    {% if show_groups %}
        <div class="groups{% if lesson.groups|length > 40 %} collapse{% endif %}">
            {% for g in lesson.groups %}
                <a href="{{ url_for("group_schedule", kont_id=g.id) }}" class="item">
                    {{ g.get_title() }}
                </a>
            {% endfor %}
        </div>
    {% endif %}

    </div>
{% endmacro %}

{% macro lesson_tags(lessons, group, show_groups, show_kurs, show_discipline) %}
    {% for lesson in  lessons %}
        <div class="mask">
            {{ lesson_tags_inner(lesson, group, show_groups, show_kurs, show_discipline) }}
        </div>
    {% endfor %}
{% endmacro %}