{% macro lesson_tags_inner(lesson, group) %}
    <div class="lesson-info {{ lesson.raspnagr.nt|lesson_type_class }}">
        <div class="discipline">
            <a href="{{ url_for("discipline_schedule", discipline_id=lesson.raspnagr.discipline.id) }}">
                {{ lesson.raspnagr.discipline.title }}
            </a>
        </div>
        {% if lesson.raspnagr.teacher %}
            <span class="teacher">
                <a href="{{ url_for("teacher_schedule", teacher_id=lesson.raspnagr.teacher.id) }}">
                    {{ lesson.raspnagr.teacher.name }}
                </a>
            </span>
        {% endif %}
        <span class="auditory">
            <a href="{{ url_for("auditory_schedule", auditory_id=lesson.auditory.id) }}">
                {{ lesson.auditory.title }}
            </a>
        </span>
        {% if group is undefined %}
            <div class="fac">
                <span>{{ lesson.faculty.title }}</span>
            </div>
        {% endif %}
        <div class="groups{% if lesson.groups|length > 40 %} collapse{% endif %}">
            {% for g in lesson.groups %}
                <a href="{{ url_for("group_schedule", kont_id=g.id) }}" class="item">
                    {{ g.get_title() }}
                </a>
            {% endfor %}
        </div>
    </div>
{% endmacro %}

{% macro lesson_tags(lessons, group) %}
    {% for lesson in  lessons %}
        <div class="mask">
            {{ lesson_tags_inner(lesson, group) }}
        </div>
    {% endfor %}
{% endmacro %}