<h2 style="padding-top: 1em">Памятка по работе с расписанием</h2>
<p>Текущее расписание учебных занятий начинает действовать с 19 сентября по 25&nbsp;декабря.

<table class="sch_table">
    <tbody>
    <tr>
        <td class="sch_day sch_tday" colspan="3">День недели</td>
    </tr>
    <tr class="">
        <td rowspan="2" class="sch_time">11:35 [Начало пары]</td>
        <td class="sch_para  sch_one" onmouseover="glow('on',this);"
            onmouseout="glow('off',this);">
            <div class="sch_item"><span
                    class="sch_predmet">Дисциплина по нечетной неделе</span><br><span
                    class="sch_type">([вид дисциплины])</span> <span class="sch_prepod"><a
                    href="#">[ФИО преподавателя]</a></span></div>
        </td>
        <td class="sch_aud  sch_one" onmouseover="glow('on',this);"
            onmouseout="glow('off',this);">[Аудитория]&nbsp;</td>
    </tr>
    <tr class="">
        <td class="sch_para  sch_two" onmouseover="glow('on',this);"
            onmouseout="glow('off',this);">
            <div class="sch_item"><span
                    class="sch_predmet">Дисциплина по четной неделе</span><br><span
                    class="sch_type">([вид дисциплины])</span>
                <span class="sch_prepod"><a href="#">[ФИО преподавателя]</a></span></div>
        </td>
        <td class="sch_aud  sch_two" onmouseover="glow('on',this);"
            onmouseout="glow('off',this);">[Аудитория]&nbsp;</td>
    </tr>
    <tr class="">
        <td rowspan="1" class="sch_time">13:45 [Начало пары]</td>
        <td class="sch_para sch_all" onmouseover="glow('on',this);"
            onmouseout="glow('off',this);">
            <div class="sch_item"><span
                    class="sch_predmet">Еженедельная дисциплина</span><br><span
                    class="sch_type">(Лаб. раб.- подгруппа 2 [Номер подгруппы для которой проводится дисциплина])</span>
                <span class="sch_prepod"><a href="#">[ФИО преподавателя]</a></span></div>
        </td>
        <td class="sch_aud sch_all" onmouseover="glow('on',this);"
            onmouseout="glow('off',this);">[Аудитория]&nbsp;</td>
    </tr>
    </tbody>
</table>
<br>
<h3>Сетка расписания:</h3>
<ul>
    <li>8:15 - 9:45</li>
    <li>9:55 - 11:25</li>
    <li>11:35 - 13:05</li>
    <li>Обеденный перерыв с 13:05 до 13:45</li>
    <li>13:45 - 15:15</li>
    <li>15:25 - 16:55</li>
    <li>17:05 - 18:35</li>
</ul>
<br>
Лекции проводятся потоками, практики - всей подгруппой, лабораторные по подгруппам
</p>